* {
    font-family: 'Nunito Sans', sans-serif;
}

.nav-item{
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 550;
}

.navbar-brand{
    padding: 20px;
    font-weight: 550;
}

#particles-js{
    position: absolute;
}
.connect-us{
    
    font-size: 1.3125em;
}